body {
    padding: 0;
    margin: 0;
    top: 0;
}

.content {
    box-sizing: border-box;
    background-image: url('../img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding-left: 5%;
    padding-right: 5%;
}

.box {
    box-sizing: border-box;
    height: 150px;
    width: 25%;
    margin-top: 10px;
    margin-left: 30px;
    margin-bottom: 30px;
    box-shadow: 2px 3px 10px;
    padding: 7px;
}

.box h3 {
    font-family: Verdana;
    font-style: italic;
    color: rgb(50, 47, 74);
    opacity: calc(0.5);
}