body {
    padding: 0;
    margin: 0;
    margin-top: 100px;
    top: 0;
}

.navbar {
    box-sizing: border-box;
    width: 100%;
    top: 0;
    position: fixed;
    background-color: grey;
    padding-left: 5%;
    padding-left: 5%;
    display: flex;
    flex-flow: row-wrap;
    justify-content: flex-start;
}

.logo img {
    padding: 10px;
    width: 70px;
    height: 70px;
    border-radius: 50px;
}

.logo {
    width: 60%;
}

.menu {
    padding-top: 18px;
    margin: 5px;
}

.menu ul li {
    padding: 15px;
    width: 30px;
    display: inline;
    list-style: none;
    font-size: 18px;
}

a:hover {
    color: plum;
}

a {
    text-decoration: none;
}

li:hover {
    background-color: blanchedalmond;
}

.content {
    margin-top: 20px;
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: 100%;
    background-image: url(/assets/img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(90vh);
}

.box {
    width: 30%;
}

h2 {
    margin-top: -10px;
    height: 70px;
    padding-top: 24px;
    background-color: rgb(201, 209, 181);
    color: blueviolet;
}

.box img {
    height: 200px;
    border-radius: 60px;
}